.header {
    border-bottom: 1px solid var(--badges);
    padding: 28px 64px;
}

.header_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header_logo {
    width: 136px;
    height: 15px;
    margin-right: 450px;
}

.header_links {
    display: flex;
    gap: 32px;
}

.header_links a {
    font-family: "Inter", sans-serif;;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #101828;
    text-decoration: none;
}

.header_links a:hover {
    font-family: "Inter", sans-serif;;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #829b91;
}