.hero_section {
    min-height: calc(100dvh - 80px);
    background-color: #2e2f42;
    background-image: url('/hero-banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 100%;
    margin: 0 auto;
}

.hero_content {
    padding-top: 195px;
}

.hero_content h1 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 48px;
    line-height: 67%;
    color: #f7f7f7;
}

.hero_description {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: #f7f7f7;
  margin-bottom: 40px;
}