.camper_card {
    border-radius: 16px;
    padding: 24px;
    max-width: 888px;
    display: flex;
    background: #f7f7f7;
}

.camper_image {
    border-radius: 16px;
    width: 219px;
    height: 240px;
    margin-right: 24px;
}

.card_content {

}

.card_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 32px;
    padding: 0;
    margin-bottom: 8px;
}

.camper_name {
    font-family: "Inter", sans-serif;;
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: #101828;
}

.camper_price {
    font-family: "Inter", sans-serif;;
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: #101828
}

.subtitle {
    display: flex;
    height: 24px;
    gap: 16px;
    margin-bottom: 24px;
}

.rating {
    display: flex;
    align-items: center;
    gap: 4px;
}

.star {
    width: 15px;
    height: 14px;
    fill: #ffc531;;
}

.location {
    display: flex;
    align-items: center;
}

.location_icon {
    fill: #101828;
    margin-right: 4px;
}

.description {
    font-family: "Inter", sans-serif;;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #475467;

    width: 524px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    margin-bottom: 24px;
}

.camper_characteristics {
    display: flex;
    gap: 8px;
    margin-bottom: 24px;
}

.char_container {
    border-radius: 100px;
    padding: 12px 18px;
    height: 48px;
    background: #f2f4f7;
    mix-blend-mode: multiply;
    display: flex;
    align-items: center;
    gap: 8px;
}

.char_icon {
    fill: "black";
}

.card_button {
    border-radius: 200px;
    width: 173px;
    height: 56px;
    background: #829b91;
    color: #fff;
}

.card_button:hover {
    background: #6d7b75;
}
